<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contactlistapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="common.CLApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactListApp">
        <receiver android:name="common.CLInternetMonitor" />

        <activity android:name="splash.CLSplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="authentication.CLAuthenticationActivity" />
        <activity android:name="group.CLGroupActivity" />
        <activity android:name="contactList.CLContactListActivity">
            <intent-filter>
                <action android:name="android.intent.action.CONNECTIVITY_ACTION" />
            </intent-filter>
        </activity>
        <activity android:name="profile.CLProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.CONNECTIVITY_ACTION" />
            </intent-filter>
        </activity>
    </application>
</manifest>